<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcy.server.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.hcy.server.model.entity.AdminEntity">
        <!--@Table t_admin-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="enabled" column="enabled" jdbcType="OTHER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="userface" column="userFace" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <!--新增所有列-->
    <insert id="insert" parameterType="com.hcy.server.model.entity.AdminEntity">
        insert into yeb.t_admin(id, name, phone, telephone, address, enabled, username, password, userFace, remark)
        values (#{id}, #{name}, #{phone}, #{telephone}, #{address}, #{enabled}, #{username}, #{password}, #{userface}, #{remark})
    </insert>
    
    <!--查询单个-->
    <select id="selectById" resultMap="BaseResultMap">
        select
          id, name, phone, telephone, address, enabled, username, password, userFace, remark
        from yeb.t_admin
        where id = #{id}
    </select>
    
    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, name, phone, telephone, address, enabled, username, password, userFace, remark
        from yeb.t_admin
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, name, phone, telephone, address, enabled, username, password, userFace, remark
        from yeb.t_admin
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="telephone != null and telephone != ''">
                and telephone = #{telephone}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="enabled != null">
                and enabled = #{enabled}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="userface != null and userface != ''">
                and userFace = #{userface}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
        </where>
    </select>

    <!--通过主键修改数据-->
    <update id="updateById">
        update
            yeb.t_admin
        <set>
            <if test="et.name != null and et.name != ''">
                name = #{et.name},
            </if>
            <if test="et.phone != null and et.phone != ''">
                phone = #{et.phone},
            </if>
            <if test="et.telephone != null and et.telephone != ''">
                telephone = #{et.telephone},
            </if>
            <if test="et.address != null and et.address != ''">
                address = #{et.address},
            </if>
            <if test="et.enabled != null">
                enabled = #{et.enabled},
            </if>
            <if test="et.username != null and et.username != ''">
                username = #{et.username},
            </if>
            <if test="et.password != null and et.password != ''">
                password = #{et.password},
            </if>
            <if test="et.userface != null and et.userface != ''">
                userFace = #{et.userface},
            </if>
            <if test="et.remark != null and et.remark != ''">
                remark = #{et.remark},
            </if>
        </set>
        where id = #{et.id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from yeb.t_admin where id = #{id}
    </delete>
</mapper>