<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcy.server.mapper.JoblevelMapper">

    <resultMap id="BaseResultMap" type="com.hcy.server.model.entity.JoblevelEntity">
        <!--@Table t_joblevel-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="titlelevel" column="titleLevel" jdbcType="OTHER"/>
        <result property="createdate" column="createDate" jdbcType="TIMESTAMP"/>
        <result property="enabled" column="enabled" jdbcType="OTHER"/>
    </resultMap>

    <!--新增所有列-->
    <insert id="insert" parameterType="com.hcy.server.model.entity.JoblevelEntity">
        insert into yeb.t_joblevel(id, name, titleLevel, createDate, enabled)
        values (#{id}, #{name}, #{titlelevel}, #{createdate}, #{enabled})
    </insert>
    
    <!--查询单个-->
    <select id="selectById" resultMap="BaseResultMap">
        select
          id, name, titleLevel, createDate, enabled
        from yeb.t_joblevel
        where id = #{id}
    </select>
    
    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, name, titleLevel, createDate, enabled
        from yeb.t_joblevel
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, name, titleLevel, createDate, enabled
        from yeb.t_joblevel
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="titlelevel != null">
                and titleLevel = #{titlelevel}
            </if>
            <if test="createdate != null">
                and createDate = #{createdate}
            </if>
            <if test="enabled != null">
                and enabled = #{enabled}
            </if>
        </where>
    </select>

    <!--通过主键修改数据-->
    <update id="updateById">
        update
            yeb.t_joblevel
        <set>
            <if test="et.name != null and et.name != ''">
                name = #{et.name},
            </if>
            <if test="et.titlelevel != null">
                titleLevel = #{et.titlelevel},
            </if>
            <if test="et.createdate != null">
                createDate = #{et.createdate},
            </if>
            <if test="et.enabled != null">
                enabled = #{et.enabled},
            </if>
        </set>
        where id = #{et.id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from yeb.t_joblevel where id = #{id}
    </delete>
</mapper>