<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcy.server.mapper.MailLogMapper">

    <resultMap id="BaseResultMap" type="com.hcy.server.model.entity.MailLogEntity">
        <!--@Table t_mail_log-->
        <result property="msgid" column="msgId" jdbcType="VARCHAR"/>
        <result property="eid" column="eid" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="routekey" column="routeKey" jdbcType="VARCHAR"/>
        <result property="exchange" column="exchange" jdbcType="VARCHAR"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
        <result property="trytime" column="tryTime" jdbcType="TIMESTAMP"/>
        <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--新增所有列-->
    <insert id="insert" parameterType="com.hcy.server.model.entity.MailLogEntity">
        insert into yeb.t_mail_log(msgId, eid, status, routeKey, exchange, count, tryTime, createTime, updateTime)
        values (#{msgid}, #{eid}, #{status}, #{routekey}, #{exchange}, #{count}, #{trytime}, #{createtime}, #{updatetime})
    </insert>
    
    <!--查询单个-->
    <select id="selectById" resultMap="BaseResultMap">
        select
          msgId, eid, status, routeKey, exchange, count, tryTime, createTime, updateTime
        from yeb.t_mail_log
        where  = #{}
    </select>
    
    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          msgId, eid, status, routeKey, exchange, count, tryTime, createTime, updateTime
        from yeb.t_mail_log
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          msgId, eid, status, routeKey, exchange, count, tryTime, createTime, updateTime
        from yeb.t_mail_log
        <where>
            <if test="msgid != null and msgid != ''">
                and msgId = #{msgid}
            </if>
            <if test="eid != null">
                and eid = #{eid}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="routekey != null and routekey != ''">
                and routeKey = #{routekey}
            </if>
            <if test="exchange != null and exchange != ''">
                and exchange = #{exchange}
            </if>
            <if test="count != null">
                and count = #{count}
            </if>
            <if test="trytime != null">
                and tryTime = #{trytime}
            </if>
            <if test="createtime != null">
                and createTime = #{createtime}
            </if>
            <if test="updatetime != null">
                and updateTime = #{updatetime}
            </if>
        </where>
    </select>

    <!--通过主键修改数据-->
    <update id="updateById">
        update
            yeb.t_mail_log
        <set>
            <if test="et.msgid != null and et.msgid != ''">
                msgId = #{et.msgid},
            </if>
            <if test="et.eid != null">
                eid = #{et.eid},
            </if>
            <if test="et.status != null">
                status = #{et.status},
            </if>
            <if test="et.routekey != null and et.routekey != ''">
                routeKey = #{et.routekey},
            </if>
            <if test="et.exchange != null and et.exchange != ''">
                exchange = #{et.exchange},
            </if>
            <if test="et.count != null">
                count = #{et.count},
            </if>
            <if test="et.trytime != null">
                tryTime = #{et.trytime},
            </if>
            <if test="et.createtime != null">
                createTime = #{et.createtime},
            </if>
            <if test="et.updatetime != null">
                updateTime = #{et.updatetime},
            </if>
        </set>
        where  = #{et.}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from yeb.t_mail_log where  = #{}
    </delete>
</mapper>